
/*
The results method display result in a drop down box after a user 
enters the question
*/
#results {
  display: none;
	width: auto;
	display: absolute;
	border: 1px solid #c0c0c0;
  
}

#results .item {
	padding: 3px;
	font-family: Helvetica;
	border-bottom: 1px solid #c0c0c0;
}

#results .item:last-child {
	border-bottom: 0px;
}

#results .item:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}

/*
These two methods change the color of navbar along with the name */

.keySight{
    color: red;
    font-size: 2em;
}

.navbar{
  background-color: red;

}



/* padding for the searchbar */
.searchBar{
 padding: 20px 20px;
}

/*
Styling the titles of the main page */

.title h4{
  text-align: center;
  padding: 5px;
  color:  #4D1304;
  font-size: 30px;
}


/*
adding blank spaces and padding in the code when necessary
*/
.blank{
padding:5px;
}

.more{
  float:right;
}

/*
padding for the user profile page.
*/
.userProfile{
   padding:20px 20px  20px 20px ;
    background-color: lightcyan;
    
      overflow: hidden;
      
}

.userProfile h4{
  text-align: center;
}

/*
 padding for the userProfile Page
*/
.contentArea{
   padding:20px 20px  20px 20px ;
    background-color: lightcyan;
    
      overflow: hidden;
}

.contentArea h4{
  text-align: center;
}

/*
Stylizing user icons.
*/
.glyphicon.glyphicon-user {
    font-size: 25px;
}

/*
stylizing submit button
*/
.submitButton{
  float:right;
}

/*
stylizing tags in user profile page
*/

.tag{
  font-size: 10pt;
}


/*
stylizing upvote or downvonte
*/
.glyphicon-flag{
font-size: 5pt;
}


/*
stylzing flags and displaying scores
*/


.displayScore{
  margin-bottom: 5px;
  text-align: center;
  height: 20px;
  padding: 20px 20px 20px 20px;
}


.thumb{
  width: 1px;
  height: 20px;
padding: 5px;
}


.forVoting{
  width:30px;
  height: 60px;
  float: left;
}

/*
end of stylizing display score
*/

/*
stylizing the page to view answers with a question.
*/
.space4answer{
  width: auto;
  position: relative;
  top: 30px;
  
}

/*
stylizing the display of the answers.
*/
.ansView{
  width: auto;
  height: 150px;
  display: block;
  margin: 0 4px 12px 4px;
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.0);
  background-color: rgba(0,0,0,0.02);
  text-decoration: none;
  color: black;
  text-align: left;

}

.ansView:hover{
   border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.07);

}

.nameoftheQuestion{
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: red;
}
.answerBox{
  width:auto;
  float: center;
}
/*
stylizing the view of the quesitons
*/

.question-display {
  display: block;
  margin: 0 4px 12px 4px;
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.0);
  background-color: rgba(0,0,0,0.02);
  text-decoration: none;
  color: black;
  text-align: left;
}

.question-display:hover {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.07);
  text-decoration: none;
}

.question-display h4, .question-display h2 {
  margin: 0;
  padding: 0;
}

.question-display .question-info {
  margin-bottom: 0;
  padding: 5px;
}

/* end of styling for the questions */

/* common styling for people and date/time */

.person {
  padding-right: 10px;
}

.date-time-display {
  font-size: 10px;
  color: darkgrey;
}

/* style for answering a question */
.form-control{
display: block;
  margin: 0 4px 12px 4px;
  padding: 16px;
}
/* Tis is only for user profile page */
span.glyphicon.glyphicon-user.forProfile{
  font-size: 250px;
}

.uButton{
  padding: 20px;
  float: right;
}

.keySight{
    color: white;
    font-size: 2em;
}

.navbar{
  background-color: red;

}
.color{
  background-color: white;
}

.navbar-default{
  background-color: red;
}