

#results {
  display: none;
	width: auto;
	display: absolute;
	border: 1px solid #c0c0c0;
  
}

#results .item {
	padding: 3px;
	font-family: Helvetica;
	border-bottom: 1px solid #c0c0c0;
}

#results .item:last-child {
	border-bottom: 0px;
}

#results .item:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}

.keySight{
    color: red;
    font-size: 2em;
}

.navbar{
  background-color: red;

}
.color{
  background-color: white;
}



.searchBar{
 padding: 20px 20px;
}

.pQuestions{
    padding: 20px 20px  20px 20px ;
   background-color:#EFEBEA;
    margin-bottom:5px;
     overflow: hidden;
     border: 1px solid red;

  
}

.title h4{
  text-align: center;
  padding: 5px;
  color:  #4D1304;
  font-size: 30px;
}



.blank{
 
padding:5px;
 
}

.questions{
    padding:20px 20px  20px 20px ;
    background-color: #EFEBEA;
    border: 1px solid red;
      overflow: hidden;
}





.more{
  float:right;
}

.userProfile{
   padding:20px 20px  20px 20px ;
    background-color: lightcyan;
    
      overflow: hidden;
      
}

.userProfile h4{
  text-align: center;
}

.contentArea{
   padding:20px 20px  20px 20px ;
    background-color: lightcyan;
    
      overflow: hidden;
}

.contentArea h4{
  text-align: center;
}
.glyphicon.glyphicon-user {
    font-size: 250px;
}

.QA{
  padding: 20px;
  font-size: 25px;
}

.ans{
   padding: 10px;
  font-size: 20px;
}

.que{
    padding: 10px;
  font-size: 20px;
}
.QAFlag{
  padding: 20px;
  font-size: 25px;
}

.QANoAnswer{
    padding: 20px;
  font-size: 25px;
}
.submitButton{
  float:right;
}

.qInfo{
  text-align: right;
  font-size: 10pt;
}
.QA{
  background-color: skyBlue;
}

.QA:hover{
  background-color:green;
}

.QANew{
  background-color: yellow;
}

.QANew:hover{
  background-color: green;
}

.QANoAnswer{
  background-color: black;
}

.QANoAnswer:hover{
  background-color: white;
}

.QAFlag{
  background-color: red;
}

.QAFlag:hover{
  background-color: red;
}

.tag{
  font-size: 10pt;
}

.glyphicon-thumbs-up{
  font-size: 5pt;
}

.glyphicon-thumbs-down{
font-size: 5pt;
}

.glyphicon-flag{
font-size: 5pt;
}




.displayScore{
  margin-top: 5px;
  text-align: center;
  height: 20px;
  
}


.thumbsUp{
  width: 1px;
  height: 20px;
padding: 5px;
}

.thumbsDown{
  width: 1px;
  height: 20px;
padding: 5px;
}

.forVoting{
  width:30px;
  height: 60px;
  float: left;
}



.space4answer{
  width: auto;
  position: relative;
  top: 30px;
  
}


.ansView{
  border: 1px solid green;
  width: auto;
  height: 100px;
}

.nameoftheQuestion{
  padding: 5px;
  border: 1px solid green;

}